body {
    background-color: #f8f9fa;
}

.profile-image {
    flex: 0 0 100px;
}

.profile-info {
    flex: 1;
    padding-left: 20px;
}

.tweets,
.following,
.followers {
    text-align: center;
}

.liked {
    color: red;
}
